<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.2"?>
<target name="Base RCP (Binary Only)">

   <location useDefault="true"/>

   <content>
      <plugins>
      </plugins>
      <features>
         <feature id="org.eclipse.rcp"/>
      </features>
   </content>
    <locations>
        <location id="org.eclipse.rcp" path="${eclipse_home}" type="Feature"/>
    </locations>
</target>